.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(70, 204, 188);
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 10px;
  width: 10px;
  background-color: rgb(70, 204, 188);
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 15px;
  width: 15px;
  background-color: rgb(70, 204, 188);
  border-radius: 50%;
  display: inline-block;
}

.dot4 {
  height: 5px;
  width: 5px;
  background-color: rgb(104, 214, 201);
  border-radius: 50%;
  display: inline-block;
}

.dot5 {
  height: 30px;
  width: 30px;
  background-color: rgb(104, 214, 201);
  border-radius: 50%;
  display: inline-block;
}

.dot6 {
  height: 40px;
  width: 40px;
  background-color: rgb(104, 214, 201);
  border-radius: 50%;
  display: inline-block;
}


.white-bg{
  background:#ffffff !important;
}

.col-centered{
  position: fixed;
  top: 50%;
  left: 50%;

}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    -webkit-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
}
.bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);

        
    }
}


@import url('https://fonts.googleapis.com/css?family=Mitr');

@font-face {
  font-family: 'MyFont';
  src: url('https://fonts.googleapis.com/css?family=Mitr')
}



body {font-family: 'Mitr', sans-serif;background-color:white;z-index:1;overflow-x:hidden;overflow: scroll !important;}


.page-footer{
  background-color:#3F729B;
}

.screenshot {
  width: 80%;
}

.divspace {
  height: 100px;
  width: 100%;
}